@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --bar: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bar: var(--bar);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --bar: #1e2939;
  }
}

body {
  background: var(--bar);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: var(--background);
}
